@charset "UTF-8";

/* Fonts */
@font-face {
    font-family: KoHo;
    src: url("./fonts/KoHo-Regular.ttf");
}

@font-face {
    font-family: Bell-MT;
    src: url("./fonts/BellMT.woff2");
}

@font-face {
    font-family: ZenAntique;
    src: url("./fonts/ZenAntique-Regular.ttf");
}


/* Border-box, container, selection */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "KoHo", sans-serif;
}

body {
    overflow-x: hidden !important;
    background: #3b553a;
    color: #fff;
}

::selection {
    color: #fff;
    background: #9daa33;
}

#topcont {
    margin: 0;
    padding: 0;
}


/* Scroll effect */
html {
    scroll-behavior: smooth;
}


/* Címsorok */
h1 {
    margin-bottom: 30px;
    text-align: center;
    color: #9daa33;
    font-weight: bold;
}

h4 {
    color: #9daa33;
}


/* White space */
.whiteSpace {
    height: 100px;
}

@media screen and (max-width: 576px) {
    .whiteSpace {
        height: 50px;
    } 

    h1 {
        margin-bottom: 25px;
    }
}


/* Menü */
.topnav {
    overflow: hidden;
    font-size: 17px;
    background: #232c38;
    padding-bottom: 10px;
    margin-bottom: 0px;
    text-align: right;
}

#left {
    float: left;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 15px;
    color: #9daa33;
    font-size: 22px;
    font-weight: bold;
}

.topnav a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    margin-top: 22px;
    margin-left: 20px;
    font-weight: bold;
    margin-right: 15px;
    transition: .3s;
}

.topnav a:hover {
    color: #9daa33;
}

.topnav a.icon {
    display: none;
    padding: 0;
    margin-top: 22px;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background: #fff;
    margin: 6px 0;
    transition: .6s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 930px) {
    .topnav a {
        margin-left: 10px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 800px) {
    .topnav a {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        margin-right: 15px;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        margin-left: 20px;
    }

    .topnav.responsive a, .topnav.responsive #left {
        float: none;
        display: block;
        text-align: left;   
    }
}

@media screen and (max-width: 576px) {
    .topnav {
        padding-bottom: 0;
    }

    .kapcs {
        margin-bottom: 10px;
    }

    #left {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .topnav a.icon {
        margin-top: 12px;
        margin-left: 0;
    }
}


/* Vegas Slider */
.vegas {
    width: 100%;
    height: 100vh !important;
    min-height: 100%;
    display: block;
}

.vegas-container {
    height: 700px;
}

#vegasSliderInner {
    margin-top: 100px;
}

.vegas-wrapper {
    background: rgba(0, 0, 0, .2);
}

.firstA {
    transition: .3s !important;
}

.firstA:hover {
    color: #798618 !important;
}

#vegasSliderInner h1 {
    font-family: "Bell-MT", serif;
    font-style: italic;
    line-height: 6.875rem;
    color: #fff;
    font-size: 5.313rem;
    text-align: left;
    margin: 20px 20px 20px 20px;
}

#vegasSliderInner a {
    line-height: 6.875rem;
    color: #9daa33;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-decoration: none !important;
    text-align: left;
    margin: 20px 20px 20px 20px;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .vegas-container {
        height: 600px;
    }
    
    #vegasSliderInner h1 {
        line-height: 5.875rem;
        font-size: 4.313rem;
        margin: 20px 20px 10px 20px;
    }
    
    #vegasSliderInner a {
        line-height: 5.875rem;
    }
}

@media screen and (max-width: 991px) {
    .vegas-container {
        height: 500px;
    }

    #vegasSliderInner {
        margin-top: 70px;
    }
    
    #vegasSliderInner h1 {
        line-height: 4.875rem;
        font-size: 3.313rem;
    }
    
    #vegasSliderInner a {
        line-height: 4.875rem;
    }
}

@media screen and (max-width: 767px) {
    .vegas-container {
        height: 300px;
    }

    #vegasSliderInner {
        margin-top: 15px;
    }
    
    #vegasSliderInner h1 {
        line-height: 3.875rem;
        font-size: 2.313rem;
        margin: 20px 20px 0 20px;
    }
    
    #vegasSliderInner a {
        line-height: 3.875rem;
        margin: 0 20px 20px 20px;
    }
}

@media screen and (max-width: 660px) {
    #vegasSliderInner {
        margin-top: 0px;
    }

    #vegasSliderInner h1 {
        line-height: 3.5rem;
        font-size: 2rem;
    }

    #vegasSliderInner a {
        line-height: 3.5rem;
    }
}

@media screen and (max-width: 491px) {
    #vegasSliderInner {
        margin-top: 30px;
    }

    #vegasSliderInner h1 {
        line-height: 3rem;
        font-size: 1.8rem;
    }
    
    #vegasSliderInner a {
        line-height: 3rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 430px) {
    #vegasSliderInner h1 {
        line-height: 2.9rem;
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 400px) {
    #vegasSliderInner h1 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 377px) {
    #vegasSliderInner h1 {
        font-size: 1.5rem;
    }
    
    #vegasSliderInner a {
        line-height: 2.875rem;
    }
}

@media screen and (max-width: 345px) {
    #vegasSliderInner h1 {
        font-size: 1.28rem;
    }
    
    #vegasSliderInner a {
        line-height: 2.675rem;
    }
}

@media screen and (max-width: 303px) {
    #vegasSliderInner h1 {
        font-size: 1rem;
    }
    
    #vegasSliderInner a {
        line-height: 2rem;
        font-size: 0.9rem;
    }
}


/* Bemutatkozás */
.name {
    font-family: "ZenAntique", serif;
    color: #77a4e1;
}

.name2 {
    font-family: "ZenAntique", serif;
    margin-bottom: 20px;
    color: #77a4e1;
}

.text {
    text-align: justify; 
    font-size: 19px;
}

.text a {
    text-decoration: none;
    color: #77a4e1;
}


/* Olajok */
#carousel {
    width: 90% !important;
    margin-right: auto;
    margin-left: auto;
}

.carousel-control-prev {
    left: -10%;
    border-bottom: 0;
    font-size: 50px;
    color: #9daa33;
    opacity: .6 !important;
    transition: .3s;
}

.carousel-control-next {
    right: -10%;
    border-bottom: 0;
    font-size: 50px;
    color: #9daa33;
    opacity: .6 !important;
    transition: .3s;
}

.carousel-control-prev:hover, 
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #9daa33 !important;
    opacity: 1 !important;
}

.flickity-button {
    background: rgba(157, 170, 51, .7) !important;
    color: #fff !important;
}

.box, .box2 {
    position: relative;
    font-weight: 500 !important;
    font-size: 20px !important;
}

.box:hover {
    cursor: pointer;
}

.boxImg {
    display: block;
    width: 100%;
    height: auto;
}

.boxOverlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.boxOverlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#dio {
    background: rgba(125, 80, 80, .6);
}

#borsmenta {
    background: rgba(27, 90, 45, .6);
}

#levendula {
    background: rgba(145, 104, 183, .6);
}

#narancsFahej {
    background: rgba(197, 83, 12, .6);
}

#fahejSzilva {
    background: rgba(60, 57, 87, .6);
}

#water {
    background: rgba(0, 153, 175, .6);
}

#szolo {
    background: rgba(67, 104, 130, .6);
}

#granatAlma {
    background: rgba(120, 55, 43, .6);
}

.box:hover .boxOverlay {
    bottom: 0;
    height: 100%;
}

.boxText {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    
    .carousel-inner .active + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 768px) {
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 991px) {
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

#custom-carousel {
    display: none;
}

@media screen and (max-width: 576px) {
    #custom-carousel {
        display: block;
    }

    #carousel {
        display: none;
    }
}

.carousel-cell {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 66%;
    margin-right: 10px;
}

.flickity-page-dots {
    bottom: -20px;
}

.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid #77a4e1;
}

.flickity-page-dots .dot.is-selected {
    background: #77a4e1;
}

@media screen and (max-width: 576px) {
    #uniqeMargin {
        padding-top: 15px;
    }
}

@media screen and (max-width: 337px) {
    .flickity-page-dots .dot {
        width: 9px;
        height: 9px;
    }
}

@media screen and (max-width: 305px) {
    .flickity-page-dots .dot {
        width: 8px;
        height: 8px;
    }
}


/* Gallery */
.image-gallery {
    margin: auto;
    padding: 0 1.5rem;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
    'img_1 img_1 img_2 img_2'
    'img_1 img_1 img_4 img_3'
    'img_7 img_6 img_6 img_3'
    'img_7 img_6 img_6 img_5'
    'img_9 img_9 img_8 img_8';
}

.image-gallery a {
    width: 100%;
    height: 12.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid !important;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
}

.image-gallery a ion-icon {
    color: rgba(255, 255, 255, .6);
    font-size: 1.5rem;
    position: relative;
    padding: 1rem 2rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a:hover ion-icon,
.image-gallery a:hover::before,
.image-gallery a:focus ion-icon,
.image-gallery a:focus::before {
    opacity: 1;
}

/* Large Size */
.img_1 {
    grid-area: img_1;
    min-height: 26.5rem;
    background-image: url(".././img/gallery_pic_1.jpg");
}

.img_2 {
    grid-area: img_2;
    background-image: url(".././img/gallery_pic_2.jpg");
}

.img_3 {
    grid-area: img_3;
    min-height: 26.5rem;
    background-image: url(".././img/gallery_pic_3.jpg");
}

.img_4 {
    grid-area: img_4;
    background-image: url(".././img/gallery_pic_4.jpg");
}

.img_5 {
    grid-area: img_5;
    background-image: url(".././img/gallery_pic_5.jpg");
}

.img_6 {
    grid-area: img_6;
    min-height: 26.5rem;
    background-image: url(".././img/gallery_pic_6.jpg");
}

.img_7 {
    grid-area: img_7;
    min-height: 26.5rem;
    background-image: url(".././img/gallery_pic_7.jpg");
}

.img_8 {
    grid-area: img_8;
    min-height: 26.5rem;
    background-image: url(".././img/gallery_pic_8.jpg");
}

.img_9 {
    grid-area: img_9;
    min-height: 26.5rem;
    background-image: url(".././img/gallery_pic_9.jpg");
}

/* Medium Size */
@media screen and (max-width: 768px) {
    .image-gallery {
        grid-template-areas: 
        'img_1 img_1 img_2 img_2'
        'img_1 img_1 img_2 img_2'
        'img_4 img_4 img_3 img_3'
        'img_6 img_6 img_3 img_3'
        'img_7 img_7 img_5 img_5'
        'img_7 img_7 img_9 img_9'
        'img_8 img_8 img_8 img_8';
    }

    .img_1, .img_2, .img_4, .img_5, .img_6, .img_8, .img_9 {
        min-height: 15rem;
    }

    .img_3, .img_7 {
        min-height: 31.5rem;
    }
}

/* Small Size */
@media screen and (max-width: 576px) {
    .img_3 {
        background-image: url(".././img/gallery_pic_3B.jpg");
    }

    .img_6 {
        background-image: url(".././img/gallery_pic_6B.jpg");
    }

    .img_7 {
        background-image: url(".././img/gallery_pic_7B.jpg");
    }

    .image-gallery {
        grid-template-areas: 
        'img_1 img_1 img_1 img_1'
        'img_2 img_2 img_2 img_2'
        'img_3 img_3 img_3 img_3'
        'img_4 img_4 img_4 img_4'
        'img_5 img_5 img_5 img_5'
        'img_6 img_6 img_6 img_6'
        'img_7 img_7 img_7 img_7'
        'img_8 img_8 img_8 img_8'
        'img_9 img_9 img_9 img_9';
    }

    .img_1, .img_2, .img_3, .img_4, .img_5, .img_6, .img_7, .img_8, .img_9 {
        min-height: 12rem;
    }
}


/* Árlista */
.card {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 4px;
    border: none !important;
    border-radius: 0 !important;
}

.timer {
    color: #82373c;
}

.timer ion-icon {
    font-size: 2rem;
    vertical-align: middle;
}

.timer span {
    vertical-align: middle;
}

.card.arak {
    box-shadow: none !important;
    margin: 10px;
    margin-bottom: 30px !important;
}

.card img {
    border-radius: 0 !important;
    padding: 10px;
}

.h-100 {
    height: auto !important;
}

.time {
    color: #82373c;
}

.card-title {
    color: #386c5f;
    font-weight: 800;
    margin-top: 20px;
}

.list-group {
    text-decoration: none;
    color: #82373c;
    font-weight: 400;
    border: none !important;
}

.list-group li {
    border: none !important;
    line-height: normal;
    padding: 5px;
}

.choose::before {
    content: "● ";
    vertical-align: text-top;
}

.card-footer {
    text-decoration: none;
    background: rgba(0,0,0,0) !important;
    border: none !important;
    color: #386c5f;
    font-weight: 800;
}

@media screen and (max-width: 767px) {
    .card.arak:hover {
        box-shadow: 0 1px 10px 0 rgb(0 0 0 /30%) !important;
    }
}


/* Bérletek */
.berletPrice {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}

.card_bg1 {
    background: rgba(56, 108, 95, .9) !important;
}

.card_bg2 {
    background: rgba(130, 55, 60, .9) !important;
}

@media (min-width: 992px) and (max-width: 998px) {
    .berletPrice {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 324px) {
    .berletPrice {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 302px) {
    .berletPrice {
        font-size: 1.5rem;
    }
}


/* Gyakori kérdések */
button:focus {
    border: none;
    outline: none;
}

.row.gyik {
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    .row.gyik {
        padding: 0;
    }
}

.accordion {
    outline: none;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: .4s;
    margin: 5px 0px;
    font-weight: bold;
    
}

.accordion.odd {
    background: #77a4e1;
    box-shadow: -1px 3px 5px -1px #77a4e1;
}

.accordion.even {
    background: #386c5f;
    box-shadow: -1px 3px 5px -1px #386c5f;
}

.active,
.accordion:hover,
.accordion:focus {
    box-shadow: none;
}

.accordion:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.chevronup {
    display: none;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
    text-align: justify;
}

.panel p {
    margin: 20px;
    font-size: 18px;
}


/* Footer */
#map {
    display: block;
    width: 100%;
    height: 300px;
}

footer {
    margin: 0;
    padding: 0;
}

ion-icon {
    pointer-events: none;
}

.facinst {
    opacity: .8 !important;
    color: #fff;
    font-size: 45px;
    transition: .3s;
}

.facinst:hover {
    text-decoration: none;
    color: #fff;
    opacity: 1 !important;
}

@media screen and (max-width: 576px) {
    .facinst {
        font-size: 50px;
    }
}

.social-media {
    list-style: none;
}

.contact {
    color: #9daa33; 
    font-size: 20px; 
    font-weight: bold;
}

.contact a {
    color: #9daa33 !important;
    text-decoration: none !important;
}

.contact ion-icon {
    vertical-align: middle;
    font-size: 25px;
}

.form-control {
    border: 1px solid #454545 !important;
    border-radius: 0 !important;
    transition: .3s;
}

.form-control:focus {
    box-shadow: 0 0 0 .075rem rgb(157, 170, 51) !important;
    outline: none !important;
    border: 1px solid #9daa33 !important;
}

.btn-info {
    outline: none;
    border: none !important;
    background: #9daa33 !important;
    opacity: .8 !important;
    transition: .3s;
}

.btn-info:hover,
.btn-info:focus {
    cursor: pointer;
    opacity: 1 !important;
    box-shadow: 0 0 0 .075rem #9daa33 !important;
}


/* Modal */
#staticBackdrop,
#errorStaticBackdrop {
    margin-top: 50px;
}

.modal-title {
    color: #386c5f;
}

.modal-body {
    color: #000;
}

.close:hover,
.close:focus {
    color: #e71919;
}

.btn-secondary {
    background: #386c5f !important;
    border: 1px solid #386c5f !important;
    color: #fff !important;
    opacity: .8;
    transition: .2s;
}

.btn-secondary:hover,
.btn-secondary:focus {
    opacity: 1;
    box-shadow: 0 0 0 .075rem #386c5f !important;
}